.app{
    height: 100vh;
    // background-color: lightblue;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);//perhatikan spasi, error 2 hari disitu :(
        background-color: lightsalmon;
    }
 
}
